// Colors
$main-color: #F8EFDE;
$secondary-color: #ada79b;
$third-color: #c6bfb1;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-side-max-width: 19rem;
$desktop-breakpoint: 45rem;


